@model IEnumerable<WebApplication1.Models.BangSanPham>

@{
    ViewBag.Title = "Quan Ly";
}

<h2>Quan Ly</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create")
</p>
<table class="table-bordered" id="danhsachsanpham" class="table">
    <thead>


        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaGoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaGop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiSanPham.TenLoai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaGoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaGop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongTon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
                </td>
                <td>
                    <img src="@Url.Action("Details", new {id=item.id})" width ="200px " height = "500px" />
                </td>
                <td>
                    <a href="@Url.Action("Edit", new {id=item.id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>

                    <a href="@Url.Action("Details", new {id=item.id})">
                        <span class="glyphicon glyphicon-book"></span>
                    </a>

                    <a href="@Url.Action("Delete", new {id=item.id})">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>

                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts {
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js">
</script>
   <script>
       $(document).ready(function () {
           $('#danhsachsanpham').DataTable();
       });
    </script>
        }